<footer id="sticky-footer" class="flex-shrink-0 py-4 bg-dark text-white-50">
    <div class="container text-center">
      <small>Garcia Gomez Jaret Xchel, NO ES COPIA ME DIO FLOJERA HACER EL REPO, 6IV6</small>
    </div>
  </footer>
</body>
</html>
